


<%= form_for @project do |f|%>

    <%=f.label :hobby_title%>
    <%= f.text_field :hobby_title, list: "hobbies_autocomplete" %>
        <datalist id= "hobbies_autocomplete"> 
            <%all_hobbies.each do |hobby|%>
                <option value="<%= hobby.title%> ">
            <%end%>
        </datalist>
    <br><br><br>

    <%=f.label :title%>
    <%= f.text_field :title%>
    <br><br>

    <%=f.label :description%>
    <%= f.text_area :description%>
    <br><br>
    <%if flash[:notice]%>
        <div class="container red lighten-4">
            <div class="row">
    **** <%=  flash[:notice] %> ****
            </div>
        </div>

    <br><br>

    <%end%>

    <%= f.submit%>

<% end%>


