   <br>
    <%= link_to 'Back', hobbies_path, class: "btn blue-grey left"%> <br><br>

<div id="profile-page-header" class="card z-depth-3 blue-grey">
                <div class="card-content">
                  <div class="row">                    
                    <div class="col s6 offset-s2">                        
                        <h4 class="card-title white-text text-darken-4">
                        <% if current_user == @user%>
                             Hey! <%= @user.username %> 
                        <% else %>
                        <%= @user.username %>
                        <% end %>
                        </h4>
                        <p class="medium-small white-text">Username</p>                        
                    </div>
                    <div class="col s2 center-align">
                        <h4 class="card-title grey-text text-darken-4">
                        <%= link_to @user.projects.count, user_projects_path(@user), class: "white-text"%><br>
                        </h4>
                        <p class="medium-small white-text">Projects</p>                        
                    </div>               
                                   
                    <div class="col s1 right-align">
                      <a class="btn-floating activator waves-effect waves-light blue-grey left"><i class="material-icons">add</i></a>
                          <i class="mdi-action-perm-identity"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card-reveal">
                    <p>
                      <span class="card-title grey-text text-darken-4"><%=@user.username%> <i class="mdi-navigation-close right"></i></span>
                      <span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i><%=link_to 'Projects', user_projects_path(@user)%></span>
                    </p>

                    <p><%=@user.bio%></p>
                    
                    <p><i class="cyan-text text-darken-2"></i> 
                    <% if current_user == @user%>

                        <%= link_to 'Add new project', new_user_project_path(@user) %>

                    <% end %>
                    </p>
                </div>
            </div>

<% if !@user.projects.empty?%>
<div class="container grey lighten-5 z-depth-4">

    <table class="centered highlight">
        <thead>
          <tr>
              <th>Project</th>
              <th>Description</th>
              <th>Hobby</th>
              <% if current_user == @user%>
              <th></th> 
              <%end%>             
          </tr>
        </thead>

    <% @projects.each do |project|%>

    <tbody>
          <tr>
            <td><%= link_to project.title, user_project_path(project.user, project) %></td>
            <td> <%= project.description%></td>
            <td><%= link_to project.hobby.title, project.hobby%> </td>
            <% if current_user == @user%>
            <td><%= link_to "Edit", edit_project_path(project)%> </td>
            <%end%>             
          </tr>
          
        </tbody>

                
    <%end%>
</table>
<% else%>

<%= link_to 'Add new project', new_user_project_path(@user) %>

<%end%>

</div>
