Hobby: <%=@hobby.title%> 

<br><br>

Projects:
<ul>
<%@hobby.projects.each do |project|%>

    <li> <%= project.title %>:  <%= project.description%><br> </li>
   
    by: <%= link_to project.user.username, project.user%><br><br>

<%end%>
</ul>

<%= link_to 'Delete Hobby', hobby_path(@hobby), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }%>

<br><br>

